Repository one-am-it/expo-ios-color-picker: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit --emitDeclarationOnly false

ci: configure gitlab pipeline
  .gitlab-ci.yml
  lefthook.yml
  package.json
Due: none

ci: fix release command
  .gitlab-ci.yml
Due: none

ci: add rsync install step
  .gitlab-ci.yml
Due: none

chore: release 0.1.1
  package-lock.json
  package.json
Due: none

ci: make package public
  package.json
Due: none

feat: rename to @one-am/expo-ios-color-picker
  example/App.tsx
  example/tsconfig.json
  package-lock.json
  package.json
Due: lint

ci: configure npm release
  .gitlab-ci.yml
Due: none

chore: release 0.2.0
  package-lock.json
  package.json
Due: none

ci: add rsync install step to publish stage
  .gitlab-ci.yml
Due: none

docs: update install command
  README.md
Due: none

chore: release 0.2.1
  package-lock.json
  package.json
Due: none

fix: fix metro.config.js config for example project, add .eslintignore
  .eslintignore
  example/ios/expoioscolorpickerexample.xcodeproj/project.pbxproj
  example/metro.config.js
Due: lint, types

fix: fix example project pods
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/expoioscolorpickerexample.xcodeproj/project.pbxproj
  example/ios/expoioscolorpickerexample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Due: none

fix: fix example project
  .eslintignore
  example/android/gradle.properties
  example/app.json
  example/ios/Podfile.lock
  example/ios/Podfile.properties.json
  example/ios/expoioscolorpickerexample.xcodeproj/project.pbxproj
  example/package-lock.json
  example/package.json
  example/webpack.config.js
Due: lint, types

feat: support any ColorValue as value
  example/App.tsx
  src/ExpoIosColorPicker.types.ts
  src/ExpoIosColorPickerView.tsx
  src/index.ts
  src/utils/colorValueToHex.ts
Due: lint, types

docs: update README
  README.md
  example/ios/expoioscolorpickerexample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Due: none

fix: fix sample web view
  src/ExpoIosColorPickerView.web.tsx
Due: lint

chore: release 0.3.0
  package-lock.json
  package.json
Due: none

refactor: export ExpoIosColorPickerView as ExpoIosColorPicker
  README.md
  example/App.tsx
  ios/ExpoIosColorPickerModule.swift
  src/ExpoIosColorPickerModule.web.ts
  src/ExpoIosColorPickerView.tsx
  src/index.ts
Due: lint, types

fix: native side now uses RGBA format instead of ARGB
  README.md
  example/App.tsx
  ios/Color+Hex.swift
Due: lint

chore: release 0.3.1
  package-lock.json
  package.json
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
